{% extends 'modelo.html' %}
{% block title %} Clientes {% endblock %}

{% block content %}
    
    {% if cliente.id_cliente == 0: %}
    <h2>Novo Cliente</h2>
    <form id="addCliente">
    {% else: %}
    <h2>Editar Cliente</h2>
    <form id="editCliente">
    {% endif %}
        <div class="form-row">
            <div class="form-group col-2">
                <label for="id_cliente">Código:</label>
                <input id="id_cliente" value="{{ cliente.id_cliente }}" class="form-control" type="text" name="id_cliente" readonly>
            </div>
            <div class="form-group col-8">
                <label for="nome">Nome Cliente:</label>
                <input id="nome" value="{{ cliente.nome }}" name="nome" class="form-control" type="text">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-6">
                <label for="endereco">Endereço:</label>
                <input id="endereco" value="{{ cliente.endereco }}" name="endereco" class="form-control" type="text">
            </div>
            <div class="form-group col-4">
                <label for="numero">Número:</label>
                <input id="numero" value="{{ cliente.numero }}" name="numero" class="form-control" type="number">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-10">
                <label for="observacao">Observação:</label>
                <input id="observacao" value="{{ cliente.observacao }}" name="observacao" class="form-control" type="text">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-2">
                <label for="cep">CEP:</label>
                <input id="cep" value="{{ cliente.cep }}" name="cep" class="form-control" type="text">
            </div>
            <div class="form-group col-2">
                <label for="bairro">Bairro:</label>
                <input id="bairro" value="{{ cliente.bairro }}" name="bairro" class="form-control" type="text">
            </div>
            <div class="form-group col-4">
                <label for="cidade">Cidade:</label>
                <input id="cidade" value="{{ cliente.cidade }}" name="cidade" class="form-control" type="text">
            </div>
            <div class="form-group col-2">
                <label for="estado">Estado:</label>
                <select id="estado" name="estado" class="form-control">
                    <option selected value="{{ cliente.estado }}">{{ cliente.estado }}</option>
                    <option value="SC">SC</option>
                    <option value="PR">PR</option>
                    <option value="RJ">RJ</option>
                    <option value="RS">RS</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-4">
                <label for="telefone">Telefone:</label>
                <input id="telefone" value="{{ cliente.telefone }}" maxlength="11" name="telefone" placeholder="(XX)00000-00000" class="form-control" type="tel">
            </div>
            <div class="form-group col-6">
                <label for="email">Email:</label>
                <input id="email" value="{{ cliente.email }}" name="email" class="form-control" type="email">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-4">
                <label for="login">Login:</label>
                <input id="login" value="{{ cliente.login }}" name="login" class="form-control" type="text">
            </div>
            <div class="form-group col-4">
                <label for="senha">Senha:</label>
                <input id="senha" value="{{ cliente.senha }}" name="senha" class="form-control" type="password">
            </div>
            <div class="form-group col-2">
                <label for="grupo">Grupo:</label>
                <select id="grupo"  name="grupo" class="form-control">
                    <option selected value="{{ cliente.grupo }}">{{ cliente.grupo }}</option>
                    <option value="SOLIC">SOLIC</option>
                </select>
            </div>
        </div>
        {% if cliente.id_cliente == 0: %}
        <button type="submit" name="salvaInsereUsuarioDB" class="btn btn-primary"><i class="far fa-save">  Salvar</i></button>
        {% else: %}
        <button type="submit" name="salvaEditaUsuarioDB" class="btn btn-primary"><i class="far fa-save">  Editar</i></button>
        {% endif %}
    </form>
{% endblock %}

{% block js %}
<script>
    // Sempre pega a url da barra de endereço
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    
    $('#addCliente').submit(function(e){

        e.preventDefault();
       
        //Faz requisição ajax
        $.post($SCRIPT_ROOT + "{{url_for('cliente.addCliente')}}", {

            id_cliente:$('#id_cliente').val(),
            nome:$('#nome').val(),
            endereco:$('#endereco').val(),
            numero:$('#numero').val(),
            observacao:$('#observacao').val(),
            cep:$('#cep').val(),
            bairro:$('#bairro').val(),
            cidade:$('#cidade').val(),
            estado:$('#estado').val(),
            telefone:$('#telefone').val(),
            email:$('#email').val(),
            login:$('#login').val(),
            senha:$('#senha').val(),
            grupo:$('#grupo').val()
            
        }, function(data){
           
            if(!data.erro){
                swal({
                    title: "",
                    text: data.mensagem,
                    type: "success",                    
                    confirmButtonClass: "btn-success",
                    confirmButtonText: "Ok",                    
                    closeOnConfirm: false,
                    closeOnCancel: false
                    },
                    function(isConfirm) {
                        if (isConfirm) {
                            window.location.replace($SCRIPT_ROOT + "{{ url_for('cliente.formListaClientes') }}");
                        } 
                    });
                

            }
            else{
                swal("", data.mensagem, "error");
            }
        }
        
        )
    })

    $('#editCliente').submit(function(e){

        e.preventDefault();

        //Faz requisição ajax
        $.post($SCRIPT_ROOT + "{{url_for('cliente.editCliente')}}", {

            id_cliente:$('#id_cliente').val(),
            nome:$('#nome').val(),
            endereco:$('#endereco').val(),
            numero:$('#numero').val(),
            observacao:$('#observacao').val(),
            cep:$('#cep').val(),
            bairro:$('#bairro').val(),
            cidade:$('#cidade').val(),
            estado:$('#estado').val(),
            telefone:$('#telefone').val(),
            email:$('#email').val(),
            login:$('#login').val(),
            senha:$('#senha').val(),
            grupo:$('#grupo').val(),
            tipo: 'editar'
            
        }, function(data){
        
            if(!data.erro){
                swal({
                    title: "",
                    text: data.mensagem,
                    type: "success",                    
                    confirmButtonClass: "btn-success",
                    confirmButtonText: "Ok",                    
                    closeOnConfirm: false,
                    closeOnCancel: false
                    },
                    function(isConfirm) {
                        if (isConfirm) {
                            window.location.replace($SCRIPT_ROOT + "{{ url_for('cliente.formListaClientes') }}");
                        } 
                    });
                

            }
            else{
                swal("", data.mensagem, "error");
                
            }
        }

        )
        })
</script>

{% endblock %}