{% extends 'modelo.html' %}
{% block title %} Clientes {% endblock %}
{% block style%}
    <link rel="stylesheet" href="{{ url_for('static', filename='clientes/clientes.css') }}">
{% endblock%}
{% block content %}


<a href="{{ url_for('cliente.formCliente')}}">
    <button  class="btn btn-primary"><i class="fas fa-plus-square">  Novo Cliente</i></button>    
</a>
<div style="margin-top: 20px;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Endereço</th>
                <th>Número</th>                
                <th>CEP</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Grupo</th>
            </tr>
        </thead>
        <tbody>
        {% if result %}
        {% for row in result %}
            <tr>
                <th scope='row'> {{ row[0] }}</th>
                <td> {{ row[1] }}</td>
                <td> {{ row[2] }}</td>
                <td> {{ row[3] }}</td>                
                <td> {{ row[5] }}</td>
                <td> {{ row[6] }}</td>
                <td> {{ row[7] }}</td>
                <td> {{ row[8] }}</td>
                <td> {{ row[9] }}</td>
                <td> {{ row[10] }}</td>
                <td> {{ row[13] }}</td>                
                <td>                    
                    <form id="editUsuario" action="{{ url_for('cliente.formEditCliente') }}" method="POST" name='editUsuario'>
                        <input type='hidden' name='id_cliente' value='{{ row[0] }}'>
                        <button type='submit' class="btn btn-warning btn-sm" name='formEditCliente'><i class='fas fa-edit fa-s'></i></button>
                    </form>
                    <form style="margin-top: 2px;" name='excluiUsuario' method="POST">
                        <input type='hidden' id="id_cliente" name='id_cliente' value='{{ row[0] }}'>
                        <button type='submit' class="btn btn-danger btn-sm" name='salvaExcluiUsuarioDB'><i class='fas fa-trash-alt'></i></button>
                    </form>                    
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block js%}
<script>
    $('thead tr th').attr('scope','col');

    
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    

    $("form[name='excluiUsuario']").submit(function(e){
        e.preventDefault();
        
        swal({
            title: "",
            text: "Deseja realmente excluir o registro de cliente?",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Sim",
            closeOnConfirm: false
            },
            function(){
                
                deletaCliente($(e.target)[0][0].value);// Retorna o valor que está no id do cliente escolhido);
        });
    });
        function deletaCliente(idCliente){

            $.post($SCRIPT_ROOT + "{{ url_for('cliente.editCliente') }}", {

                id_cliente: idCliente,
                tipo: 'excluir'
                },function(data){

                if(data.erro == 0){

                    swal({
                        title: "",
                        text: data.mensagem,
                        type: "success",                    
                        confirmButtonClass: "btn-success",
                        confirmButtonText: "Ok",                    
                        closeOnConfirm: false,
                        closeOnCancel: false
                        },
                        function(isConfirm) {
                            if (isConfirm) {
                                window.location.replace($SCRIPT_ROOT + "{{ url_for('cliente.formListaClientes') }}");
                            } 
                        });
                }
                else{
                    swal("",data.mensagem,"error");
                    console.log(data.mensagem_exception);
                }
            }
            )
        }
        
        
        

</script>
{% endblock %}