{% extends 'modelo.html' %}
{% block title %} Clientes {% endblock %}
{% block content %}


<a href="{{ url_for('cliente.formCliente')}}">
    <button  class="btn btn-primary"><i class="fas fa-plus-square">  Novo Cliente</i></button>    
</a>
<div style="margin-top: 20px;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Endereço</th>
                <th>Número</th>
                <th>Observação</th>
                <th>CEP</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Grupo</th>
            </tr>
        </thead>
        <tbody>
        {% if result %}
        {% for row in result %}
            <tr>
                <th scope='row'> {{ row[0] }}</th>
                <td> {{ row[1] }}</td>
                <td> {{ row[2] }}</td>
                <td> {{ row[3] }}</td>
                <td> {{ row[4] }}</td>
                <td> {{ row[5] }}</td>
                <td> {{ row[6] }}</td>
                <td> {{ row[7] }}</td>
                <td> {{ row[8] }}</td>
                <td> {{ row[9] }}</td>
                <td> {{ row[10] }}</td>
                <td> {{ row[11] }}</td>
                <td> {{ row[12] }}</td>
                <td> {{ row[13] }}</td>
                <td>
                    <form action='{{ url_for('cliente.formEditCliente') }}' method='POST' name='editUsuario'>
                    <input type='hidden' name='id_cliente' value='{{ row[0] }}'>
                    <button type='submit' name='formEditCliente'><i class='fas fa-edit'></i></button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block js%}
<script>
    $('thead tr th').attr('scope','col');    
</script>
{% endblock %}