<!DOCTYPE html>
<html>
    {% block head %}
    <head>
        <title>{% block title %}{% endblock %} - Felipe</title>
        <style>
            header{                    
                    padding: 20px 0;
                    height: 100px;
                    margin-bottom: 0;
                }

            .sessao-usuario{
                position: absolute;
                right: 0;                
                left: 90%;
                top: 0;
                text-align: left;
            }
            
        </style>
        {% block style %}{% endblock %}
        <link rel="stylesheet" href="{{ url_for('static',filename = 'bootstrap-4.5.2-dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename = 'fontawesome-free-5.14.0-web/css/all.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'sweet-alert/sweetalert.css') }}">
    </head>
    {% endblock %}
    <body>
        <header class="p-3 mb-2 bg-info text-white text-center">
            <img class="mx-auto float-left" style="height: 5em; width: 10em;"  src="{{ url_for('static', filename = 'imgs/backtothefuture-logo-black-and-white.png') }}">
            <h1>Web App - Felipe Parizzi Galli</h1>
            <div class="sessao-usuario">
                <p>Nome: {{ session['usuario']  }} </p>
                <p>Grupo: {{ session['grupo'] }}</p>
            </div>
            <div style="float: right;" id="tempo-sessao"></div>
        </header>                
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <div class="list-group">                        
                        <h3 class="list-group-item list-group-item-action list-group-item-info">Web App</h3>                
                        <a href="{{ url_for('home.home') }}"><i class="fas fa-home"> Home</i></a>
                        <a href="{{ url_for('cliente.formListaClientes') }}"><i class="fas fa-users"> Clientes</i></a>
                        <a href="{{ url_for('produto.formListaProdutos') }}"><i class="fas fa-utensils"> Produtos</i></a>
                        <a href="{{ url_for('pedidos.formListaPedidos') }}"><i class="fas fa-book"> Pedidos</i></a>
                        <a href="{{ url_for('login.logoff')}}"><i class="fas fa-sign-out-alt"> Sair</i></a>
                    </div>
                    <footer class="p-3 bg-info text-white text-center" style="height: max-content;">
                        <p>&copy; Copyright</p>
                        <p>Felipe Parizzi Galli</p>
                    </footer>
                </div>
                <div class="col-10" style="margin-top: 20px;">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='jquery/jquery-3.5.1.js') }}"></script>
        <script src="{{ url_for('static', filename='jquery/jquery.mask.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap-4.5.2-dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='jquery.countdown-2.2.0/jquery.countdown.min.js') }}"></script>
        <script src="{{ url_for('static', filename='sweet-alert/sweetalert.js') }}"></script>        
        <script>
            $(".list-group a").addClass("list-group-item list-group-item-action list-group-item-info");

                                
                if (performance.navigation.type == performance.navigation.TYPE_RELOAD) {
                    
                    comecaContagem();
                } 
            
            
            function getTempoInicial(){

                let tempoInicial = new Date(Date.now());

                return tempoInicial;
            }

            function getTempoSessao(){

                let tempoInicial = getTempoInicial();

                let tempoFinal = new Date(tempoInicial.getFullYear(),
                                          tempoInicial.getMonth(),
                                          tempoInicial.getDate(),
                                          tempoInicial.getHours(),
                                          tempoInicial.getMinutes() + {{session['tempo']}},
                                          tempoInicial.getSeconds(),
                                          tempoInicial.getMilliseconds());

                

                return tempoFinal;
            }

            function comecaContagem(){
                $('#tempo-sessao').countdown(getTempoSessao(), function(event) {
                        $(this).html(event.strftime('%M min. %S segundos'));
                    });
            }
           
            $(document).ready(function(){
                
                
                comecaContagem();

            });
            
            

            
        </script>
        {% block js %}{% endblock %}
        
    </body>
</html>