<head>
    <link rel="stylesheet" href="{{ url_for('static',filename = 'bootstrap-4.5.2-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'login/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='sweet-alert/sweetalert.css') }}">    
    <title>Login</title>
</head>
<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Web App Felipe</h3>
        <div class="container">              
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    {% if request.args.get('falhaSessao') == '1': %}
                    <div class="alert alert-danger">
                        Falha na Sessão! Faça o login!
                    </div>
                    {% endif %}
                    <div id="login-box" class="col-md-12">                        
                        <form id="login-form" class="form">
                            <h3 class="text-center text-info">Login</h3>
                            <div class="form-group">
                                <label for="usuario" class="text-info">Usuário:</label><br>
                                <input type="text" name="usuario" id="usuario" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="senha" class="text-info">Senha:</label><br>
                                <input type="password" name="senha" id="senha" class="form-control" required>
                                
                            </div>
                            
                            <div class="form-group">                                
                                <button type="submit" class="btn btn-success">Entrar</button>
                            </div>                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='jquery/jquery-3.5.1.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-4.5.2-dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='sweet-alert/sweetalert.js') }}"></script>    
    {% block js %}
    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $('#login-form').submit(function(e){

            e.preventDefault();

            $.post($SCRIPT_ROOT + "{{ url_for('login.validaLogin') }}", {

                usuario: $('#usuario').val(),
                senha: $('#senha').val()
            }, function(data){

                if(!data.erro){

                    swal({  
                            title: data.mensagem,                                             
                            imageUrl: "{{ url_for('static', filename='imgs/dark-side.jpg') }}",
                            imageSize:'200x200'
                        });

                    setTimeout(function(){

                        window.location.replace($SCRIPT_ROOT + "{{ url_for('home.home') }}");
                    }, 1000);
                }
                else{

                    swal('', data.mensagem, 'error');
                    $('#usuario').val("");
                    $('#senha').val("");
                }
            })
        })
    </script>
    {% endblock %}
</body>