{% extends 'modelo.html' %}
{% block title %} Pedidos {% endblock %}
{% block content %}


<a href="{{ url_for('pedidos.formPedido')}}">
    <button  class="btn btn-primary"><i class="fas fa-plus-square">  Novo Pedido</i></button>    
</a>

<div style="margin-top: 20px;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Cliente</th>
                <th>Telefone</th>
                <th>Endereço</th>
                <th>Número</th>
                <th>CEP</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>Obs</th>
                <th>Data/Hora</th>
                <th>Produtos</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos: %}    
            <tr>
                <th scope="row">{{ pedido['ID'] }}</th>
                <td>{{ pedido['Nome'] }}</td>
                <td>{{ pedido['Telefone'] }}</td>
                <td>{{ pedido['Endereco'] }}</td>
                <td>{{ pedido['Numero'] }}</td>
                <td>{{ pedido['CEP'] }}</td>
                <td>{{ pedido['Bairro'] }}</td>
                <td>{{ pedido['Cidade'] }}</td>
                <td>{{ pedido['Observacao'] }}</td>
                <td>{{ pedido['Data_hora'] }}</td>
                <td>
                    <button type="button" id="mostra_produtos" class="btn btn-info"><i class="fas fa-list-alt"></i></button>
                </td>
                <td>
                    <form action="{{ url_for('pedidos.formEditPedido') }}" method="POST">
                        <input type="hidden" id="id_pedido" name="id_pedido" value="{{ pedido['ID'] }}">
                        <button type="submit">Editar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h5>Produtos do Pedido <span id="id_pedido_produto"></span></h5>
    <table class="table table-striped">
        <thead>
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Valor</th>
            <th>Observação</th>
        </thead>
        <tbody id="tabela_pedido_produtos">
            
        </tbody>
    </table>
</div>
{% endblock %}

{% block js%}
<script>
    $('thead tr th').attr('scope','col');

    $("[id='mostra_produtos']").click(function(){

        let id_pedido = this.parentElement.parentElement.firstElementChild.textContent;

        $.post($SCRIPT_ROOT + "{{ url_for('pedidos.selectProdutosByPedido') }}", {

            id_pedido:id_pedido
        }, function(data){

            if(!data.erro){

                console.log(data);
            }
            else{

                console.log(data.mensagem_exception);
            }
        })
    })
</script>
{% endblock %}